:root {
  --accents-active-color: rgb(255, 152, 34);
  --accents-color: rgb(255, 180, 96);
  --accents-hover-color: rgb(252, 197, 134);
  --body-bg-color: white;
  --border-color: #303030;
  /* buttons */
  --button-font-family: inherit;
  --button-font-size: inherit;
  --button-font-weight: 500;
  --button-line-height: 1.125rem;
  --button-padding-x: 1rem;
  --button-padding-y: 0.5rem;
  --button-rounding: 2px;
  --darker-green: rgb(90, 173, 76);
  --field-active-color: #FFF;
  --focus-color: #97BBFF;
  --font-size-base: 15px;
  --font-size-field: 0.88rem;
  --font-size-large: 1.6rem;     /* 24px */
  --font-size-larger: 1.2rem;    /* 18px */
  --font-size-normal: 1rem;      /* 15px */
  --font-size-smaller: 0.8667rem;  /* 13px */
  --form-field-bg-color: #EEE;
  --form-field-color: #222;
  --form-field-font-family: inherit;
  --form-field-font-size: 0.94rem;
  --form-field-height: 2.25rem;
  --form-field-padding-x: 0.5rem;
  --form-field-padding-y: 0.5rem;
  --form-field-rounding: 2px;
  /* forms */
  --form-padding: 20px;
  --form-spacing: 10px;
  --light-green: rgb(237, 247, 229);
  --light-red: rgb(255, 50, 50);
  --main-margin: 4rem;
  /* body */
  --primary-color: #73388B;
  --primary-color-active: color(var(--primary-color) shade(30%));
  --primary-color-hover: color(var(--primary-color) tint(20%));
  --red: #DA000C;
  /* typography */
  --secondary-color: #948C81;
  /* colours */
  --text-color: #111;
}
