{
  "plugins": [
    "transform-runtime"
  ],
  "presets": [
    "flow",
    ["env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": true,
        "debug": false,
        "targets": {
          "browsers": ["> 5%"]
        }
      }
    ],
    "latest",
    "stage-0",
    "react"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
