th.image,
th.normal {
  width: 7%;
}

th.small {
  width: 3%;
}

table {
  width: 100%;
  margin: 30px 0;
}

table img {
  max-width: 100px;
  max-height: 100px;
}

th,
td {
  position: relative;
  padding: 10px 10px;
}

tbody {
  text-align: center;
}


td input {
  width: 100%;
}

.delete-icon {
  position: absolute;
  top: calc(50% - 12px);
  left: -2px;
  color: rgb(187, 0, 0);
  opacity: 0;
  cursor: pointer;
}

.delete-icon:hover {
  color: rgb(227, 0, 0);
}

tr:hover .delete-icon {
  opacity: 1;
}

.row-selected {
  background-color: rgb(219, 255, 186);
}

td .select-checkbox {
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
}
